.contain {
    height: 100%;
}

.encompass {
    height: inherit;
}

.separate {
    height: inherit;
}

.constraint {
    background-color: #E6F2F2;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.nav
{
    background-color: #F3E5AB;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.navbar
{
    .profilePic
    {
        padding-top: 50px;
        height: 200px;
        width: 220px;
        font-size: 100px;
        margin-top: 20px;
        margin-right:5px;
        background-color: #FF5959;
        text-align: center;
        line-height: 100%;
        border-radius:5px;
    }
}

.resizedTextBox
{
    width: 550px;
    height: 65px;
    margin-bottom:10px;
    font-size:14px;
}
.scroll
{
    overflow-y: scroll;
}
#addFleet
{
    background-color: #87CEFA;
    padding: 8px 20px;
    border-radius:10px;
    font-weight: 500;
}

.containtextbox 
{
    margin-bottom: 10px;
    padding-bottom: 15px;
    background-color: #E6F2F2;
    font-size: 18px;
    padding-left: 20px;

    p {
        font-weight: 500;
        padding-top: 20px;
        margin-bottom: 5px;
    }
}

.unfollow {
    background-color: #96DED2;
    padding: 10px;
    width: 81px;
    border-radius: 10px;
}
.follow {
    background-color: #96DED2;
    padding: 10px;
    width: 81px;
    border-radius: 10px;
}

#logoutdec {
    background-color: #CFDAF0;
    border-radius: 5px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.decon
{
    background-color:#B3FF80;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 5px;
    margin-bottom: 10px;

    .profilePic
    {
        padding-top: 20px;
        float: left;
        height: 80px;
        width: 80px;
        font-size: 40px;
        margin-right:5px;
        background-color: #FF5959;
        text-align: center;
        line-height: 100%;
        border-radius:5px;
    }

    b {
        font-size:24px;
    }
}