.contain
{
    position: relative;
    top: 35%;
}

.loginbox
{
    background-color: #CCFCE2;
    width: 400px;
    padding: 20px;
    color: #000;

    form
    {
        position: relative;
        left: 5%;
        margin: 0px;
    }
}

body {
    background-color: #B49EB5;
    color: #FFF;
}